img {
    max-width: 200px;
    max-height: 200px;
}

.user {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    
}

.users{
    display: flex;
    flex-wrap: wrap;
}

form {
    border: 2px black solid;
    width: fit-content;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

input {
    margin-bottom: 20px;
}

button {
    color: red
}